{% extends './nav-public.html'%}

{% block title %}用户管理{% endblock %}

{% block admin %}
{{userInfo.username}}
{% endblock %}
{% block cssLink %}
<link href="/public/css/categoryAdd.css" rel="stylesheet">
<link href="/public/css/pagegation.css" rel="stylesheet">

{% endblock %}

{% block content%}
<div class="nowposition">
    <ol class="breadcrumb">
        当前位置：
        <li><a href="/admin/category_index">首页</a></li>
        <li class="active">分类修改</li>
    </ol>
</div>

<!--显示用户列表-->
<h3>当前分类:{{CurrentCategory.name}}</h3>
<form action="/admin/categoryManage/edit" method="post" name="categoryAdd">
    <label id="categoryInput">
        请输入修改后的分类:<input type="text" id="add_category" name="categoryAdd" value="{{CurrentCategory.name}}">
    </label>
    <input name="CurrentValue" type="hidden" value="{{CurrentCategory.name}}">
    <label id="Submit">
        <input type="submit" value="提交">
    </label>
</form>
{% endblock %}