.copyright{

    width: 100%;
    height: 75px;
background-color: #222;
overflow: hidden;
margin-top: 10px;
}
.copyright span:first-child{
    line-height: 75px;
    color: #aaa;
    margin-left: 20px;
    float: left;
}
.copyright span:nth-child(2){
    display: block;
    float: left;
    color: #eee;
    line-height: 75px;
    margin: 0 20px 0 50px;
    font-size: 18px;
}
.copyright ul{
    float: left;
    list-style: none;
}
.copyright ul li{
    float: left;
    line-height: 75px;
    color: #eec17e;
    font-size: 20px;
}
.copyright ul li a{
    color: #615dee;
    font-size: 18px;
}